In [1]:
#Descarga un archivo CSV y cárgalo en un DataFrame. Muestra la información del DataFrame y su descripción (estadísticos principales).

In [3]:
import pandas as pd

In [6]:
data=pd.read_csv("personas_hospitalizadas_con_diagnostico_covid19_limpia.csv")

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 670 entries, 0 to 669
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   fecha                          670 non-null    object
 1   anio                           670 non-null    int64
 2   mes                            670 non-null    object
 3   hospitalizados_totales         670 non-null    int64
 4   hospitalizados_totales_cdmx    670 non-null    int64
 5   hospitalizados_totales_edomex  670 non-null    int64
 6   camas_intubados_totales        670 non-null    int64
 7   camas_intubados_cdmx           670 non-null    int64
 8   camas_intubados_edomex         670 non-null    int64
dtypes: int64(7), object(2)
memory usage: 47.2+ KB

In [9]:
data.head()

,fecha,anio,mes,hospitalizados_totales,hospitalizados_totales_cdmx,hospitalizados_totales_edomex,camas_intubados_totales,camas_intubados_cdmx,camas_intubados_edomex
0,2020-03-24,2020,marzo,50,50,0,39,39,0
1,2020-03-25,2020,marzo,105,105,0,33,33,0
2,2020-03-26,2020,marzo,128,128,0,42,42,0
3,2020-03-27,2020,marzo,175,175,0,60,60,0
4,2020-03-28,2020,marzo,257,257,0,78,78,0

In [10]:
data['mes'].describe()

count      670
unique      12
top       mayo
freq        62
Name: mes, dtype: object

In [11]:
data.describe()

,anio,hospitalizados_totales,hospitalizados_totales_cdmx,hospitalizados_totales_edomex,camas_intubados_totales,camas_intubados_cdmx,camas_intubados_edomex
count,670.000000,670.000000,670.000000,670.000000,670.000000,670.000000,670.000000
mean,2020.632836,3661.223881,2658.138806,1001.450746,924.807463,728.695522,196.026866
std,0.585931,2447.518969,1777.405869,682.235729,567.402926,439.604007,132.315955
min,2020.000000,50.000000,50.000000,0.000000,33.000000,33.000000,0.000000
25%,2020.000000,1473.250000,1109.250000,353.500000,453.000000,376.500000,71.000000
50%,2021.000000,3728.000000,2722.000000,937.500000,912.000000,706.000000,190.000000
75%,2021.000000,4991.750000,3629.750000,1443.500000,1195.750000,930.750000,278.750000
max,2022.000000,10071.000000,7401.000000,2706.000000,2412.000000,1897.000000,529.000000